* {
    margin: 0 auto 0 auto;
    justify-content: center;
}
.container-fluid {
    background-color: rgb(26, 15, 51);
    margin: 0 auto 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 50px;
}

.section {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0a2a43);
    z-index: 10000;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}


.mountain1 {
    position: absolute;
    left: 30%;
    width: 100%;
    transform: translateX(-50%);
    z-index: 2;
    fill-opacity: inherit;
}

.mountain2 {
    z-index: 3;
}

.main-name.center.aligned.header {
    position: relative;
    color: rgb(231, 142, 107);
    font-size: 4em;
    font-weight: 600;
    z-index: 1;
    margin: 0 auto 0 auto;
    justify-content: center;
    align-items: center;
}

.resume {
    padding-bottom: 10px;
    float: right;
}

.about {
    padding-top: 20px;
    padding-left: 50px;
    color: rgb(219, 167, 155);
}
