body {
    background-color: rgb(26, 15, 51);
}

.container-fluid {
    margin: 0 auto 0 auto;
    width: 800px;
    align-items: center;
    justify-content: center;
    display: flex;
}

main {
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgb(33, 11, 39);
}


.section {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0a2a43);
    z-index: 10000;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}


.mountain1 {
    position: absolute;
    left: 30%;
    width: 100%;
    transform: translateX(-50%);
    z-index: 2;
    fill-opacity: inherit;
}

.mountain2 {
    z-index: 3;
}

.about-me-1 {
    position: relative;
    justify-content: space-between;
    float: left;
    font-size: 12px;
    font-family: 'Quicksand', sans-serif;
    color: rgb(219, 167, 155);
    margin-left: 20px;
}

.main-name.center.aligned.header {
    position: relative;
    color: rgb(231, 142, 107);
    font-size: 4em;
    font-weight: 600;
    z-index: 1;
}

.resume {
    padding-bottom: 10px;
    float: right;
}
